<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../view/styleC.css">
</head>
<body>
   
       
        <div class="input-wrapper">
            
            <input type="text" placeholder="Digite aqui..." name="text" class="input">
          </div>
    <footer> 
        <header>
          <a href="./view/criar.html" target="_blank" rel="noopener noreferrer"> <img src="../imagens/criar-removebg-preview.png" alt=""></button></a>
          <a href="./turmas.html" target="_blank" rel="noopener noreferrer"> <img src="../imagens/turmas-removebg-preview.png" alt=""></button></a>
          <a href="https://teams.microsoft.com/l/channel/19%3amwY62TMu6G6WChgKnZv9WQViAjsEQYrZwObQQ6tjjIc1%40thread.
          tacv2/Geral?groupId=1fd5cc00-b27d-41dc-8950-86921ac59fbd&tenantId=b1051c4b-3b94-41ab-9441-e73a72342fdd" 
          target="_blank" rel="noopener noreferrer"> <img src="../imagens/menssagem-removebg-preview.png" alt=""></button></a>
          
          <a href=".//..//..//..//" target="_blank" rel="noopener noreferrer"> <img src="../imagens/pasta-removebg-preview.png" alt=""></button></a>
        </header>

        <section>
           <article>
            <form id="item-form">
              <input type="text" id="item-name" placeholder="Nome do Item" required>
              <button type="submit" id="botao">Adicionar</button>
            </form>
          
            <ul id="item-list"></ul>
          
           
           </article>
        </section>
   </footer>
    <script src="../script.js"></script>
</body>
</html>