*{
    margin: 0;
    padding:0;
    outline: 0;
    box-sizing: border-box;
}

html,body{

    font-size: 62.5%;
    font-family: 'Times New Roman', Times, serif;
    text-rendering: optimizeLegibility;
    height: 100%;
    background-color:#E5E5E5;
}

div{

    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FCA311;
    height: 15%;
    justify-content: space-around;
   
}
footer{
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}

header{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

img{
    margin-top: 2rem;
}


section{
    display: flex;
    justify-content: center;

}
.input-wrapper input {
    background-color: #eee;
    border: none;
    padding: 1rem;
    padding-right: 5rem;
  
    
    font-size: 2rem;
    width: 40rem;
    border-radius: 1rem;
    color: rgb(0, 0, 0);
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
  }
  
  .input-wrapper input:focus {
    outline-color: lightcoral;
  }



  .button_plus {
    position: absolute;
    width: 35px;
    height: 35px;
    background: #fff;
    cursor: pointer;
    border: 2px solid #095776;
  
    /* Mittig */
    top: 50%;
    left: 50%;
  }
  
  .button_plus:after {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    height: 4px;
    width: 50%;
    background: #095776;
    top: 50%;
    left: 50%;
  }
  
  .button_plus:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #095776;
    height: 50%;
    width: 4px;
  }
  
  .button_plus:hover:before,
  .button_plus:hover:after {
    background: #fff;
    transition: 0.2s;
  }
  
  .button_plus:hover {
    background-color: #095776;
    transition: 0.2s;
  }