<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../view/styleT.css">
</head>
<body>
    
        <div class="input-wrapper">
           <input type="text" placeholder="Digite aqui..." name="text" class="input">
          </div>
        <footer>
            <header>
        
             <a href="../view/criar.html" target="_blank" rel="noopener noreferrer"> <img src="../imagens/criar-removebg-preview.png" alt=""></button></a>
             <a href="../view/turmas.html" target="_blank" rel="noopener noreferrer"> <img src="../imagens/turmas-removebg-preview.png" alt=""></button></a>
             <a href="https://teams.microsoft.com/l/channel/19%3amwY62TMu6G6WChgKnZv9WQViAjsEQYrZwObQQ6tjjIc1%40thread.tacv2/Geral?
             groupId=1fd5cc00-b27d-41dc-8950-86921ac59fbd&tenantId=b1051c4b-3b94-41ab-9441-e73a72342fdd" target="_blank" rel="noopener noreferrer"> <img src="../imagens/menssagem-removebg-preview.png" alt=""></button></a>
             
             <a href=".//..//..//..//" target="_blank" rel="noopener noreferrer"> <img src="../imagens/pasta-removebg-preview.png" alt=""></button></a>
            </header>
      

           <section>
             <h1>TURMAS</h1>
         
             <article>
             <a href="../view/turma1.html" target="_blank" rel="noopener noreferrer"><img src="../imagens/0120b849-5ab2-4aab-9294-8a7a4442027a.jpg" id="turma"></a>
             <h1> TURMA 01</h1>
             </article>
         
             <bdo>
              <img src="../imagens/0120b849-5ab2-4aab-9294-8a7a4442027a.jpg" >
          
             <h1>TURMA 02</h1>
             </bdo>
          
             <bdi>
             <img src="../imagens/0120b849-5ab2-4aab-9294-8a7a4442027a.jpg">
          
             <h1>TURMA 03</h1>
             </bdi>
     
            </section>
        </footer>
</body>
</html>